
.c-fav-creation-form .c-form-field-wrapper {
    padding: var(--mp-6) var(--mp-8);
}

.c-fav-creation-form .selected-user {
    margin-bottom: var(--mp-5);
    padding-left: var(--mp-1);

    font-weight: 800;
}

.c-fav-creation-form .search-users {
    overflow: hidden;
}


.c-fav-creation-form .c-search-options {
    max-height: 200px;
    overflow-y: scroll;
}

.c-fav-creation-form .c-search-options .search-option-wrapper {
    padding: var(--mp-4) var(--mp-2);
    cursor: pointer;
    color: var(--white);
}

.c-fav-creation-form .c-search-options .search-option-wrapper .search-option {
    display: flex;
    align-items: center;
}

.c-fav-creation-form .c-search-options .search-option-wrapper .search-option .search-option__display {
    color: var(--black);
}

.c-fav-creation-form .c-search-options .search-option-wrapper .search-option .search-option__display.danger {
    color: var(--danger);
}

.c-fav-creation-form .c-search-options .search-option-wrapper .search-option .search-option__avatar {
    margin-right: var(--mp-3);
}

.c-fav-creation-form .c-search-options .search-option-wrapper .search-option .search-option__avatar img {
    border-radius: 50%;
    display: block;
    width: 2rem;
    height: 2rem;
}

.c-fav-creation-form .c-form-footer {
    display: flex;
    justify-content: flex-end;
    margin: var(--mp-6);
}

.clear-btn {
    margin-right: var(--mp-2);
}