
.fav-date-range-filter {
    display: flex;
    justify-content: flex-end;
    padding: var(--mp-4) var(--mp-8);
}

.fav-date-range-filter .date-field {
    margin-right: var(--mp-4);
}

.fav-date-range-filter .date-field:last-of-type {
    margin-right: unset;
}

.fav-date-range-filter .date-field label {
    font-weight: 800;
}

.fav-date-range-filter .date-field input {
    background-color: var(--gray);
    border-radius: 5px;
    padding: var(--mp-1);
}