
.paginator {
    display: flex;
    justify-content: space-between;
}

.paginator .paginator-btn {
    cursor: pointer;
}

.paginator .paginator-btn.disabled {
    cursor: not-allowed;
    color: var(--gray);
}