.fav-table {
    width: 100%;
    text-align: left;
    margin: var(--mp-5) auto;
}

.fav-table th, 
.fav-table td {
    padding: var(--mp-4) var(--mp-2);
}

.fav-table tr th:first-child,
.fav-table tr td:first-child {
    padding-left: var(--mp-8);
}