.fav-table {
    width: 100%;
    text-align: left;
    margin: var(--mp-5) auto;
}

.fav-table th, 
.fav-table td {
    padding: var(--mp-4) var(--mp-2);
}

.fav-table tr th:first-child,
.fav-table tr td:first-child {
    padding-left: var(--mp-8);
}

.no-data-available {
    font-size: var(--mp-5);
    font-weight: 800;
    padding: var(--mp-5);
    text-align: center;
}

.paginator-wrapper {
    padding: var(--mp-4) var(--mp-8);
}